/*Обнуление*/
*{
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%; }
input,button,textarea{font-family:inherit;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*--------------------*/

/* navigation */
body{
	word-wrap:break-word ;
}

.headersticky{
position: fixed;
background-color: #fff;
	width: 100%;
	height: 180px;
	top: 0;
	left: 0;
	z-index: 2;
}
.headersticky:before{
content: "";
position: absolute;
background-color: lightblue;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.container{
	max-width: 1180px;
	margin: 0 auto;
	padding: 0px 15px 0px 15px;
	padding: 0 10px;
	position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
.header_logo {
	width: 150px;
	height: 150px;
	margin: 15px 5px 0 105px;
	padding: 5px;
	position: relative;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 4;
}
.header_logo img{
	display: block;
	position: relative;
border-radius: 50%;
}
.header_burger{
	display:none;
}

.header_list{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin: 0px 1% 0px 1%;
	width: 80%;
	height: 170px;
	position: relative;
	z-index: 4;

}
.header_list li{
	align-items: center;
list-style: none;
margin: 0px 0px 0px 50px;
font-size: 19px;
}
.header_menu{
	display: flex;
}

.instagram{
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
display: inline-block;
position: relative;
left: 0;
top: 35%;

white-space: nowrap;
transition: color .2s linear;
color: #808080;

}


.instagram li{

display: block;
block-size:30px;
inline-size:140px;
background: url(../image/svg/instagram.svg) left top no-repeat;
background-size: 17px;
padding: 0 0 0 25px;
}

.instagram:hover {
color: #e96656;
}
.Menu{
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
display: inline-block;
position: relative;
left: 0%;
top: 35%;

white-space: nowrap;
transition: color .2s linear;
color: #808080;

}
.Menu li{

display: block;
block-size:30px;
inline-size:100px;
background: url(../image/svg/spoon-knife.svg) left top no-repeat;
background-size: 17px;
padding: 0 0 0 25px;
z-index: 1;
}

.Menu:hover {
color: #e96656;
}
.YandexMaps{
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
display: inline-block;
position: relative;
left: 0;
top: 35%;
white-space: nowrap;
transition: color .2s linear;
color: #808080;


}
.YandexMaps li{

display: block;
block-size:30px;
inline-size:150px;
background: url(../image/svg/location2.svg) left top no-repeat;
background-size: 17px;
padding: 0 0 0 25px;
z-index: 1;
}

.YandexMaps:hover {
color: #e96656;
}
.GoogleMaps{
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
display: inline-block;
position: relative;
left: 0;
top: 35%;
white-space: nowrap;
transition: color .2s linear;
color: #808080;

}
.GoogleMaps li{

display: block;
block-size:30px;
inline-size:150px;
background: url(../image/svg/map.svg) left top no-repeat;
background-size: 17px;
padding: 0 0 0 25px;
z-index: 1;
}

.GoogleMaps:hover {
color: #e96656;
}
.PhoneNumber{
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
display: inline-block;
position: relative;
left: 0;
top:
35%;

white-space: nowrap;
transition: color .2s linear;
color: #808080;

}
.PhoneNumber p{

display: block;
block-size:30px;
background: url(../image/svg/phone.svg) left top no-repeat;
background-size: 17px;
padding: 0 0 0 25px;
z-index: 1;
}

.PhoneNumber:hover {
color: #e96656;
}

.layer1{
background: url(../image/header.jpg);
background-repeat: no-repeat;
background-size: 100% auto;
margin: 165px 0px 0px 0px;
padding: 10px 0px 0px 0px;
background-position: center auto;
max-width: 100%;
height: 100%;
width: 100%;

}
.flexconteiner {
	display: flex;
	flex-direction: column;
	justify-content: center;
align-items: center;
position: relative;
height: 900px;
width: 100%;
z-index: 1;
padding: 10px 0px 0px 0px;

}

.textPhoto{
padding: 128px 200px 210px;
color: #fff;
z-index: 1;
width: 100%;
height: 500px;
position: relative;
font-size: 6vw;
font-family: 'Montserrat', Helvetica, sans-serif;
text-align: center;	
text-transform: uppercase;
}
.buttonslayer{
	display: flex;
justify-content: center;
align-items: center;

left: 30%;

margin: 200px 0px 0px 0px;
width: 100%;
height: 100%;
padding: 0px 200px 0px 200px;
z-index: 1;
}
.but1 {
	position: relative;
	bottom: 0;
text-transform: uppercase;
background-color: red;
font-size: 1vw;
margin:0px 20px 0px 20px;
padding: 10px;



border-radius: 4px;
transition: color .2s linear;
height: 50px;
}
.but1: hover {
background-color: #000;
}
.but1 p{
color: #fff;
}

.but2{

right: 41%;
bottom: 18%;
text-transform: uppercase;
background-color: green;
font-size: 1vw;
padding: 15px;
margin-left: 20px;
color: #fff;
border-radius: 4px;
}
.but2:hover{

}
.containercoffe {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 1500px;
padding-top: 100px;
}
.content{

}
.headcoffe {}
.underheadcoffe {}

@media screen and (max-width: 1160px) and (min-width:845px){
			.container{
		max-width: 1180px;
margin-left: auto;
margin-right: auto;
padding: 0px 15px 0px 15px;
padding: 0 10px;
display: flex;
justify-content: center;
		height: 185px;
		flex-direction: column;
	}
	.header_menu{
		
	}
	.header_logo{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto;
		width: 150px;
		height: 145px
}
	.header_logo img{
	height: 130px;
	}
	.header_list {
	display: flex;
	justify-content: center;
		height: 50px;
	width: 100%;
}
.header_list li{
	font-size: 19px;
	align-self:center;
}
.layer1{
	margin: 15% 0px 0px 0px;
}
}

@media screen and (max-width: 845px){
	body.lock{
		overflow: hidden;
	}
	.headersticky{
		width: 100%;
		height: 140px;
	}
	.headersticky:before {
		content: "";
	}
		.header_menu{
	position: fixed;
	background-color: #fff;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform:translate(-100%,0px);
	padding: 160px 10px 10px 50px;
	overflow: auto;
}
.header_menu.active{
	transform: translate(0px,0px);
}

	.container{
	height: 100%;
	width: 85%;
	justify-content: start;
	justify-content: space-between;
	align-items: center;
	}
	.header_logo{
		top: 0;
		left: 0;
		margin: 10px 0px 0px 0px;
		padding: 0;
		max-width: 100%;
		max-height: 100%;
		z-index: 6;
	}
	.header_logo img{
		width: 80%;
		height: 80%;
		margin: 5% 0px 0px 0px;
		z-index: 6;
	}
	.header_list {
	display: block;
	height: 100%;
	margin: 1% 1% 0px 1%;
	}
	.header_list li{
		margin: 0px 0px 30px 0px
	}
	.header_burger{
	display: block;
	position: relative;
	top: 0;
	left: 30px;
	width: 40px;
	height: 20px;
	cursor: pointer;
	z-index: 3;
}
		.header_burger span,
		.header_burger:before,
	.header_burger:after{
position: absolute;
		width: 40px;
		height: 4px;
		left: 0;
background-color:red;
transition: all 0.6s ease 0s;
	}
	.header_burger:before,
	.header_burger:after{
content: "";
	}

	.header_burger:before{
		top: 0px;
	}
	.header_burger:after{
		bottom: 0;
	}
	.header_burger span{
position: absolute;
background-color:red;
		top: 50%;
		transform: scale(1) translate(0px, -50%);
		}
		.header_burger.active span{
transform: scale(0) translate(0px);
		}
		.header_burger.active:before{
			top: 50%;
			transform: rotate(-45deg) translate(0px,-50%);
		}
		.header_burger.active:after{
			bottom: 50%;
			transform: rotate(45deg) translate(0px,50%);
		}
	
	.layer1{
background: url(../image/header.jpg);
background-repeat: no-repeat;
background-size: 100% auto;
margin: 140px 0px 0px 0px;
padding: 10px 0px 0px 0px;
background-position: center auto;
max-width: 100%;
height: 100%;
width: 100%;

}

}